// _newsletter.scss

@use './variables' as *;
@use './mixins' as *;
@use 'sass:color';

.newsletter-section {
    padding: $spacing-lg 0;
    text-align: center;

    .newsletter-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-md;
        border-bottom: 1px solid #eee;
        padding: $spacing-lg;
        background-color: white;

        .newsletter-banner {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .newsletter-logo {
                flex: 0 0 auto;
                width: 70px;
                height: auto;
                margin-bottom: $spacing-md;
            }

            .newsletter-text {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: $spacing-md;
                max-width: 600px;

                h2 {
                    font-size: $font-large * 1.2;
                    margin-bottom: $spacing-xs;
                    color: $primary-color;
                    text-align: left;
                }

                p {
                    font-size: $font-base;
                    color: $text-color;
                    line-height: 1.5;
                    text-align: left;
                }
            }
        }

        .newsletter-form {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $spacing-md;

            input[type="email"] {
                padding: $spacing-xs $spacing-md;
                font-size: $font-base;
                border: 1px solid $border-color;
                border-radius: 5px;
                margin-bottom: $spacing-xs;
                width: 100%;
                box-sizing: border-box;
                height: 40px;
            }

            button {
                padding: $spacing-xs $spacing-md;
                background-color: $primary-color;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: $font-base;
                width: 100%;
                box-sizing: border-box;
                text-transform: uppercase;
                font-weight: bold;
                height: 40px;

                &:hover {
                    background-color: color.adjust($primary-color, $lightness: -10%);
                }
            }
        }

        .newsletter-disclaimer {
            font-size: $font-small;
            color: $text-color;
            margin-top: $spacing-xs;
            max-width: 500px;
            line-height: 1.4;
        }
    }

    @include desktop {
        .newsletter-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            padding: $spacing-lg * 1.5 $spacing-lg;
            gap: $spacing-lg;

            .newsletter-banner {
                flex: 1;
                .newsletter-logo {
                    margin-bottom: 0;
                }

                .newsletter-text {
                    flex: 1;
                    margin-bottom: 0;
                }
            }

            .newsletter-form {
                flex: 0 0 auto;
                flex-direction: row; // Change to row for desktop
                align-items: center; // Align items vertically in the center
                margin-bottom: 0;
                width: auto;
                max-width: none;

                input[type="email"] {
                    width: 400px;
                    margin-right: $spacing-xs; // Space between input and button
                    margin-bottom: 0;
                }

                button {
                    width: auto;
                }
            }

            .newsletter-disclaimer {
                margin-top: 0;
            }
        }
    }
}
